@import url("https://fonts.googleapis.com/css2?family=Palanquin&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Palanquin", sans-serif;
}

.Shop img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

.nav-wrapper {
    width: 100%;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 100px;
    color: white;
    font-size: 18px;
    width: 80vw;
    margin: auto;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:visited {
    color: white;
}

.home-link {
    flex: 1;
}

.shop-link {
    flex: 1;
}

.store-title {
    flex: 2;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.cart-icon-wrapper {
    flex: 2;
    text-align: right;
    align-self: flex-end;
}

.cart-icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(256deg)
        brightness(107%) contrast(105%);
    width: 30px;
    height: 30px;
}

.Product {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 100px auto;
    width: fit-content;
}

.Product,
.Product-In-Cart {
    display: flex;
    box-shadow: 5px 5px 20px;
    padding: 40px 30px;
}

.Product-In-Cart {
    margin: 50px auto;
    width: max(50vw, 700px);
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.Product-In-Cart img {
    width: 150px;
    height: 150px;
}

.quantity-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.Product-In-Cart {
    font-size: 20px;
}

.quantity-wrapper button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    font-size: 20px;
}

.remove-btn {
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 3px;
}

.remove-btn:hover {
    background-color: rgb(50, 50, 50);
}

.in-cart-counter {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 900;
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: relative;
    top: 10px;
}

.checkout-no-items {
    margin-top: 40px;
    font-size: 18px;
    text-align: center;
}

.swiper {
    width: 1200px;
    box-shadow: 5px 5px 25px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper img {
    width: 1200px;
}

.Home h1 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 50px;
}
